{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/_form_style.css">
{% endblock %}

{% block content %}
        <form method="POST" action="">
            <div class="questions">
            <p>1) C’est mieux...</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">A deux</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">A trois</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Avec le cimetière entier</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Tout seul</label>
            </div>


            <p>2) Vos accessoires préférés :</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">Fouets et menottes</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Poils et crocs</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Anneau de fiançailles</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">No way</label>
            </div>


            <p>3) Vous considérez que se faire empaler pendant l’amour peut :</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">piquer mais c’est cool</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Rololo pas encore !!!</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">S’il n’est pas en argent avec grand joie</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">plutôt mourir encore, encore et encore et encore</label>
            </div>


            <p>4) Selon vous, quel est le meilleur endroit pour une première rencontre ?</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">La jolie ville d’Hiroshima</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Sur le réacteur de Tchernobyl</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">La maison d’Amityville</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Peu importe, l’important c’est le goût de ton coeur !</label>
            </div>


            <p>5) votre partenaire idéal serait ?</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">Un zombie</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Un humanoïde transgenre</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Une créature démoniaque</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Un loup garou</label>
            </div>


            <p>6) En dessert, tu préfères...</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">Un cerveau bien juteux</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Le cadavre d’Eddie</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">De la bave de crapaud bio</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Du caviar de boue sans-gluten</label>
            </div>


            <p>7) Lors d'un banquet commun vous mangez :</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">Uniquement les salades bio du Pérou</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">De tout mais vous faites attention à votre diète</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Juste les âmes humaines (sauf les roux)</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">La totalité du banquet et aussi les gens, pas de gâchis</label>
            </div>


            <p>8) Des enfants viennent frapper à votre porte pour des bonbons :</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">Ca tombe bien vous aimez bien les enfants :)</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Vous leur donnez vos bonbons non bio et sans gluten (faut pas déconner)</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Vous leur donnez un morceau de votre chien en décomposition</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Vous offrez vos meilleurs sucreries</label>
            </div>


            <p>9) Vous prenez des cours de cuisine, vous préferez cuisiner : </p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">Un gratin d'algues vertes assaissonée d'un coulis de fraise</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Du hachis par humain entier</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Votre prof et toutes les personnes participant au cours</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Pas de cuisine pour moi, je préfère la chasse animale</label>
            </div>


            <p>10) Vous recevez des invités, vous leur préparez votre spécialité :</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">Des racines de mandragore bio achetées au marché local</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Des papillotes d’yeux de rat au basilic</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Des criquets à la thai</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Un soufflé de bébé phoques</label>
            </div>


            <p>11) Pensez-vous que les zombies devraient avoir le droit de vote?</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">Oui, même s’ils sont un peu lents, il faut accepter tout le monde</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Non</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Pas sûr</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Les zombies sont trop bêtes pour voter, ils feraient mieux d’arrêter les
                    manifestations.</label>
            </div>


            <p>12) Le comte Dracula est…</p>

            <div>
                <input type="radio" id="rep1" name="drone" value="rep1"
                       checked>
                <label for="rep1">Notre seigneur suprême</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Le représentant de l’oligarchie capitaliste </label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Un reptilien</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Un méchant dictateur</label>
            </div>


            <p>13) Que pensez-vous de la mode des goules de porter des lunettes rondes?</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">Ce sont des bobos, c’est juste pour le style</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">C’est trop tendance, j’adore !</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Ils se la racontent.</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Les valeurs se perdent.</label>
            </div>


            <p>14) Une odeur putride se fait sentir dans le bus :</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">Vous sortez au prochain arrêt</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Vous retenez votre souffle</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">C'est vous en fait</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Vous cherchez et remercier la personne pour cette odeur exquise</label>
            </div>


            <p>15)Des brigands viennent pour vous voler :</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">Vous les mangez, tous.</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Vous préparez votre plus grand hurlement</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Votre odeur les submerge de désespoir</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Vous les invitez à partager la jeune vierge que vous venez de cuisiner</label>
            </div>


            <p>16) Ils m’entraînent au bout de la nuit...</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">Les démons de minuiiiiiiit </label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Personne, je reste dormir dans mon cercueil.</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Mes potos squelettes et moi on joue au poker posey dans le canapey </label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Mes pintes de sang frais </label>
            </div>


            <p>17) Ta consommation de substances</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">Jamais ! (Excepté une fois au chalet…) </label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">J’adoooooooore les sushis de petit doigt</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Ma cons… Cons… de qu… quoi?</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Je m’ouvre occasionnellement une bouteille de chianti pour déguster un foie avec des
                    fêves au beurre</label>
            </div>


            <p>18) Le samedi soir…</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">Une petite tisane et hop ! Au lit !</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Je me prépare pour aller au bal masqué (ohé ohé)</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Une petite rave dans le jardin de la dernière maison sur la gauche</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Movie night !</label>
            </div>


            <p>19) Quel est votre type de soirée :</p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">dîner au chandelle dans un cimetière</label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">grosse fête chez Frank </label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">devant la tv dans la cave de Marco </label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">pendu dans un placard </label>
            </div>


            <p>20) Vos voisins les zombies font du bruit : </p>

            <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">Vous préparez votre plus grand hurlement </label>
            </div>
            <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Vous retournez dans votre grotte</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Vous les rejoignez pour réveiller tout le cimetière</label>
            </div>
            <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Vous preparez vos pouces quies</label>
            </div>
                    <button type="submit">Résultats</button>
                </div>
            </div>
        </form>
{% endblock %}

