body {
    background-color: black;
}

html, .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.link, a {
    color: #ba0900;
}

@media screen and (min-width: 1200px) {

    body {
        background-image: url("/assets/images/wallpaper.jpg");
    !important;
        background-size: cover;
    }

    html, .button {
        display: unset;
    }

    .link {
        display: flex;
        justify-content: flex-end;
        color: #ba0900;
    }
}